@keyframes subtle-flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
}

.flash {
  animation: subtle-flash 2s infinite;
}

@keyframes lighthouse {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.lighthouse {
  animation: lighthouse 4s infinite ease-in-out;
}

